In [1]:
require 'btp'

Install the mechanize gem version ~>2.7.5 for using mechanize functions.

true

In [2]:
random_walked_df = BTP::RandomWalk.new('../../spec/fixtures/finnish/finnish-train-low').parse

Left most: 12
Unique alphabets: ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "r", "s", "t", "u", "v", "y", "ä", "ö", "š"]
Unique alphabets count: 25
Words count: 48
DataFrame size: 4225 = 25*12*12 + 25*12*2 + 25
Normalizing adjacency matrix
Vectors normalized
Adj mat normalized
Random walking

#<Daru::DataFrame(4225x2)>
             character seed_weigh
        752     e_4_-9 0.02844891
         50    a_2_-11 0.02844890
       1865        l_5 0.02844889
       1948     l_5_-8 0.02844889
       3057      t_-10 0.02844888
       3105    t_3_-10 0.02844888
         13      a_-12 0.02844888
         37    a_1_-12 0.02844888
       1191        h_7 0.02844888
       1298     h_7_-6 0.02844888
       3229       u_-7 0.02844887
       3313     u_6_-7 0.02844887
          9        a_8 0.02844887
        128     a_8_-5 0.02844887
       2039       m_10 0.02844887
        ...        ...        ...

In [5]:
random_walked_df.where(random_walked_df[:seed_weight] > 0.01 && random_walked_df[:seed_weight] < 0.02)

#<Daru::DataFrame(3517x2)>
             character seed_weigh
         11       a_10 1.12876279
         25    a_0_-12 1.12876279
         28     a_0_-9 1.12876279
         30     a_0_-7 1.12876279
         31     a_0_-6 1.12876279
         32     a_0_-5 1.12876279
         33     a_0_-4 1.12876279
         34     a_0_-3 1.12876279
         35     a_0_-2 1.12876279
         36     a_0_-1 1.12876279
         39    a_1_-10 1.12876279
         44     a_1_-5 1.12876279
         46     a_1_-3 1.12876279
         47     a_1_-2 1.12876279
         48     a_1_-1 1.12876279
        ...        ...        ...